In [22]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from pyspark.sql import types

In [14]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 4.8 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.1 in ./.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 KB 2.7 MB/s eta 0:00:00a 0:00:01
Collecting numpy>=1.21.0
  Downloading numpy-1.24.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 4.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test1') \
    .getOrCreate()

23/03/09 16:46:38 WARN Utils: Your hostname, ivang-hpcompaqelite8300sff resolves to a loopback address: 127.0.1.1; using 192.168.43.156 instead (on interface wlxaca21363cb26)
23/03/09 16:46:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/09 16:46:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
'''
Question 1:
A) 3.3.2
'''

'\nQuestion 1:\nA) 3.3.2\n'

In [5]:
spark.version

'3.3.2'

In [6]:
'''
Question 2: HVFHW June 2021
B) 24MB
'''

[Errno 2] No such file or directory: '/mnt/c'
/home/ivang

In [26]:
chunks = pd.read_csv('fhvhv_tripdata_2021-06.csv.gz', chunksize=100)
df = next(chunks)
df.head()

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
1,B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
2,B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
3,B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
4,B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,NaN

In [27]:
fhv_schema = types.StructType([
    
    types.StructField("dispatching_base_num",types.StringType(),True),
    types.StructField("pickup_datetime",types.TimestampType(),True),
    types.StructField("dropoff_datetime",types.TimestampType(),True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("SR_Flag",types.StringType(),True),
    types.StructField("Affiliated_base_number",types.StringType(),True),
])

In [29]:
df_fhv = spark.read \
    .option("header", "true") \
    .schema(fhv_schema) \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

In [30]:
df_fhv \
        .repartition(12) \
        .write.parquet('fhvhv_tripdata_2021-06.parquet')

In [33]:
!tree -h fhvhv_tripdata_2021-06.parquet

[4.0K]  fhvhv_tripdata_2021-06.parquet
├── [ 24M]  part-00000-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
├── [ 24M]  part-00001-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
├── [ 24M]  part-00002-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
├── [ 24M]  part-00003-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
├── [ 24M]  part-00004-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
├── [ 24M]  part-00005-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
├── [ 24M]  part-00006-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
├── [ 24M]  part-00007-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
├── [ 24M]  part-00008-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
├── [ 24M]  part-00009-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
├── [ 24M]  part-00010-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
├── [ 24M]  part-00011-41a88593-e931-4efa-9312-8b5f80657915-c000.snappy.parquet
└── [   0]  _SUCCESS

0 directories, 13 files

In [59]:
'''
Question 3:Count records
C) 452,470

'''

'\nQuestion 3:Count records\n'

In [ ]:
chunks = pd.read_csv('fhvhv_tripdata_2021-06.csv.gz', chunksize=100)
df = next(chunks)
df.head()

In [45]:
df_fhv.createOrReplaceTempView('fhv_trips_data')

In [57]:
df_result = spark.sql("""

SELECT COUNT(*) FROM fhv_trips_data WHERE pickup_datetime >= '2021-06-15' AND pickup_datetime < '2021-06-16'

""")

In [58]:
df_result.show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

In [60]:
'''
Question 4: Longest trip for each day
'''

'\nQuestion 4: Longest trip for each day\n'

In [70]:
#SELECT dropoff_datetime - pickup_datetime FROM fhv_trips_data WHERE pickup_datetime >= '2021-06-15' AND pickup_datetime < '2021-06-16'

df_result_2 = spark.sql("""

SELECT DAY(dropoff_datetime), (unix_timestamp(dropoff_datetime) - unix_timestamp(pickup_datetime))/3600 
FROM fhv_trips_data 

ORDER BY (unix_timestamp(dropoff_datetime) - unix_timestamp(pickup_datetime))/3600 DESC LIMIT 10

""")

In [71]:
df_result_2.show()

+---------------------+-----------------------------------------------------------------------------------------------------------------------+
|day(dropoff_datetime)|((unix_timestamp(dropoff_datetime, yyyy-MM-dd HH:mm:ss) - unix_timestamp(pickup_datetime, yyyy-MM-dd HH:mm:ss)) / 3600)|
+---------------------+-----------------------------------------------------------------------------------------------------------------------+
|                   28|                                                                                                       66.8788888888889|
|                   23|                                                                                                     25.549722222222222|
|                   28|                                                                                                     19.980833333333333|
|                   27|                                                                                                     18.197222222222223|
|                   24|                                                                                                     16.466944444444444|
|                   24|                                                                                                     14.268888888888888|
|                   25|                                                                                                     13.909722222222221|
|                    5|                                                                                                                  11.67|
|                   27|                                                                                                     11.365833333333333|
|                   21|                                                                                                     10.984444444444444|
+---------------------+-----------------------------------------------------------------------------------------------------------------------+

In [72]:
'''
Question 5:User Interface
C) 4040
'''

'\nQuestion 5:User Interface\nC) 4040\n'

In [ ]:
'''
Question 6: Most frequent pickup location zone
D) Crown Heights North
'''

In [73]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2023-03-09 20:04:45--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230309%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230309T190445Z&X-Amz-Expires=300&X-Amz-Signature=17f3fbbc6c9bb86ed505323e840d3b9be2332c13e1cde60430313f4ba2056466&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2023-03-09 20:04:45--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230309%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230309T190445Z&X-Amz-Expires=300&X-Amz-Signature=17f3fbbc6c9bb86ed505323e840d3b9be2332c13e1cde60430313f4ba2056466&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12,03K  --.-KB/s    in 0,003s

2023-03-09 20:04:46 (3,62 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [74]:
chunks = pd.read_csv('taxi_zone_lookup.csv', chunksize=100)
df = next(chunks)
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [75]:
zones_schema = types.StructType([
    types.StructField("LocationID", types.IntegerType(), True),
    types.StructField("Borough",types.StringType(),True),
    types.StructField("Zone",types.StringType(),True),
    types.StructField("service_zone",types.StringType(),True),
])

In [76]:
df_zones = spark.read \
    .option("header", "true") \
    .schema(zones_schema) \
    .csv('taxi_zone_lookup.csv')

In [77]:
df_zones.createOrReplaceTempView('zones_data')

In [89]:
df_zones_result = spark.sql("""

SELECT COUNT(Zone),Zone
FROM fhv_trips_data 
INNER JOIN zones_data
ON fhv_trips_data.PULocationID = zones_data.LocationID
GROUP BY Zone 
ORDER BY COUNT(Zone) DESC

""")

In [90]:
df_zones_result.show()

+-----------+--------------------+
|count(Zone)|                Zone|
+-----------+--------------------+
|     231279| Crown Heights North|
|     221244|        East Village|
|     188867|         JFK Airport|
|     187929|      Bushwick South|
|     186780|       East New York|
|     164344|TriBeCa/Civic Center|
|     161596|   LaGuardia Airport|
|     158937|            Union Sq|
|     154698|        West Village|
|     152493|             Astoria|
|     151020|     Lower East Side|
|     147673|        East Chelsea|
|     146402|Central Harlem North|
|     143683|Williamsburg (Nor...|
|     143594|          Park Slope|
|     141427|  Stuyvesant Heights|
|     139611|        Clinton East|
|     139431|West Chelsea/Huds...|
|     138428|             Bedford|
|     137879|         Murray Hill|
+-----------+--------------------+
only showing top 20 rows

Serving HTTP on 0.0.0.0 port 8000 (http://0.0.0.0:8000/) ...