In [1]:
!bq load --source_format=PARQUET trips_data_all.green_test_2019 green_tripdata_2019-05.parquet

Upload complete.
Waiting on bqjob_r4fa565c3b675e936_000001867667ab1d_1 ... (2s) Current status: DONE

In [ ]:
!bq load --source_format=PARQUET trips_data_all.green_test_2019 green_tripdata_2019-01.parquet

In [2]:
lista = ["01","02","03","04","05","06","07","08","09","10","11","12"]

In [ ]:
for mes in lista:
    !bq load --source_format=PARQUET trips_data_all.green_test_2019 green_tripdata_2019-01.parquet

In [3]:
comando = "ls"
!comando

/bin/bash: comando: command not found

In [2]:
import os
import pandas as pd

In [11]:
files = os.listdir()

In [18]:
for file in files:
    if '2019' in file and 'green' in file and '.parquet' in file:
        print(file)
        df = pd.read_parquet(file)
        df['VendorID'] = df['VendorID'].astype('int64')
        df.to_parquet(file)

green_tripdata_2019-09.parquet

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [7]:
c = 'yellow_tripdata_2019-01.parquet'
'parquet' in c

True

In [19]:
df2 = pd.read_parquet('green_tripdata_2019-09.parquet')
df2.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [33]:
df2['RatecodeID'].head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: RatecodeID, dtype: float64

In [29]:
df2['RatecodeID'].isna().sum()

59143

In [24]:
df2.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [25]:
df1 = pd.read_parquet('green_tripdata_2019-01.parquet')

In [26]:
df1.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [34]:
!ls

Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
__pycache__
data
dtc-de-course-376222-c9912433459f.json
dtc-de-course-376222-c9912433459f.json:Zone.Identifier
etl_fhv_2019_2020.sh
etl_gcs_bq.py
etl_green_2019_2020.sh
etl_parent_flow_local_to_gcs-deployment.yaml
etl_parent_flow_week4_exercise-deployment.yaml
etl_web_to_gcs_extras.py
etl_web_to_gcs_fhv.py
etl_yellow_2019_2020.sh
fhv_tripdata_2019-01.csv.gz
fhv_tripdata_2019-02.csv.gz
fhv_tripdata_2019-03.csv.gz
fhv_tripdata_2019-04.csv.gz
fhv_tripdata_2019-05.csv.gz
fhv_tripdata_2019-06.csv.gz
fhv_tripdata_2019-07.csv.gz
fhv_tripdata_2019-08.csv.gz
fhv_tripdata_2019-09.csv.gz
fhv_tripdata_2019-10.csv.gz
fhv_tripdata_2019-11.csv.gz
fhv_tripdata_2019-12.csv.gz
fhv_tripdata_2020-01.csv.gz
fhv_tripdata_2020-02.csv.gz
fhv_tripdata_2020-03.csv.gz
fhv_tripdata_2020-04.csv.gz
fhv_tripdata_2020-05.csv.gz
fhv_tripdata_2020-06.csv.gz
fhv_tripdata_2020-07.csv.gz
fhv_tripdata_2020-08.csv.gz
fhv_tripdata_2020-09.csv.gz
fhv_tripdata_2020-10.csv.gz
fhv_tripdata_2020-11.csv.gz
fhv_tripdata_2020-12.csv.gz
green_tripdata_2019-01.csv
green_tripdata_2019-01.csv.gz
green_tripdata_2019-01.parquet
green_tripdata_2019-02.csv
green_tripdata_2019-02.csv.gz
green_tripdata_2019-02.parquet
green_tripdata_2019-03.csv
green_tripdata_2019-03.csv.gz
green_tripdata_2019-03.parquet
green_tripdata_2019-04.csv
green_tripdata_2019-04.csv.gz
green_tripdata_2019-04.parquet
green_tripdata_2019-05.csv
green_tripdata_2019-05.csv.gz
green_tripdata_2019-05.parquet
green_tripdata_2019-06.csv
green_tripdata_2019-06.csv.gz
green_tripdata_2019-06.parquet
green_tripdata_2019-07.csv
green_tripdata_2019-07.csv.gz
green_tripdata_2019-07.parquet
green_tripdata_2019-08.csv
green_tripdata_2019-08.csv.gz
green_tripdata_2019-08.parquet
green_tripdata_2019-09.csv
green_tripdata_2019-09.csv.gz
green_tripdata_2019-09.parquet
green_tripdata_2019-10.csv
green_tripdata_2019-10.csv.gz
green_tripdata_2019-10.parquet
green_tripdata_2019-11.csv
green_tripdata_2019-11.csv.gz
green_tripdata_2019-11.parquet
green_tripdata_2019-12.csv
green_tripdata_2019-12.csv.gz
green_tripdata_2019-12.parquet
green_tripdata_2020-01.csv
green_tripdata_2020-01.csv.gz
green_tripdata_2020-01.parquet
green_tripdata_2020-02.csv
green_tripdata_2020-02.csv.gz
green_tripdata_2020-02.parquet
green_tripdata_2020-03.csv
green_tripdata_2020-03.csv.gz
green_tripdata_2020-03.parquet
green_tripdata_2020-04.csv
green_tripdata_2020-04.csv.gz
green_tripdata_2020-04.parquet
green_tripdata_2020-05.csv
green_tripdata_2020-05.csv.gz
green_tripdata_2020-05.parquet
green_tripdata_2020-06.csv
green_tripdata_2020-06.csv.gz
green_tripdata_2020-06.parquet
green_tripdata_2020-07.csv
green_tripdata_2020-07.csv.gz
green_tripdata_2020-07.parquet
green_tripdata_2020-08.csv
green_tripdata_2020-08.csv.gz
green_tripdata_2020-08.parquet
green_tripdata_2020-09.csv
green_tripdata_2020-09.csv.gz
green_tripdata_2020-09.parquet
green_tripdata_2020-10.csv
green_tripdata_2020-10.csv.gz
green_tripdata_2020-10.parquet
green_tripdata_2020-11.csv
green_tripdata_2020-11.csv.gz
green_tripdata_2020-11.parquet
green_tripdata_2020-12.csv
green_tripdata_2020-12.csv.gz
green_tripdata_2020-12.parquet
notes.md
pruebas
taxi_rides_ny
upload_parquet_to_bq.sh
yellow_tripdata_2019-01.csv
yellow_tripdata_2019-01.csv.gz
yellow_tripdata_2019-01.parquet
yellow_tripdata_2019-02.csv.gz
yellow_tripdata_2019-03.csv.gz
yellow_tripdata_2019-04.csv.gz
yellow_tripdata_2019-05.csv.gz
yellow_tripdata_2019-06.csv.gz
yellow_tripdata_2019-07.csv.gz
yellow_tripdata_2019-08.csv.gz
yellow_tripdata_2019-09.csv.gz
yellow_tripdata_2019-10.csv.gz
yellow_tripdata_2019-11.csv.gz
yellow_tripdata_2019-12.csv.gz
yellow_tripdata_2020-01.csv.gz
yellow_tripdata_2020-02.csv.gz
yellow_tripdata_2020-03.csv.gz
yellow_tripdata_2020-04.csv.gz
yellow_tripdata_2020-05.csv.gz
yellow_tripdata_2020-06.csv.gz
yellow_tripdata_2020-07.csv.gz
yellow_tripdata_2020-08.csv.gz
yellow_tripdata_2020-09.csv.gz
yellow_tripdata_2020-10.csv.gz
yellow_tripdata_2020-11.csv.gz
yellow_tripdata_2020-12.csv.gz

In [1]:
!pip install pyyaml

Requirement already satisfied: pyyaml in /home/ivang/miniconda3/envs/zoomcamp2/lib/python3.9/site-packages (6.0)

In [8]:
import yaml
import pandas as pd
import pyarrow
import os

In [9]:

with open('schemas.yml', 'r') as file:
    prime_service = yaml.safe_load(file)

In [10]:
yellow_schema = prime_service['yellow']
green_schema = prime_service['green']
fhv_schema = prime_service['fhv']

In [51]:
df_green = pd.read_csv('green_tripdata_2019-09.csv.gz',index_col=False).astype(green_schema)
df_green.to_parquet('data/clean/green_tripdata_2019-09.parquet',index=False)

/tmp/ipykernel_16495/2915097109.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2019-09.csv.gz',index_col=False).astype(green_schema)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [72]:
'''
2019 green files to parquet
'''
green_files = os.listdir()
for file in green_files:
    if 'green' in file and '.csv.gz' in file and '2019' in file:
        df_green = pd.read_csv(file,index_col=False).astype(green_schema)
        df_green.head()
        #split_file = file.split('.')[0]
        #print(split_file)
        #df_green.to_parquet('data/clean/{}.parquet'.format(split_file),index=False)
        #print(df_green.read_parquet('data/clean/{}.parquet'.format(split_file)).head())
        print("\n\n")
        break

In [77]:
for file in green_files:
    if 'green' in file and '.csv' in file and not '.gz' in file and '2020' in file:
        print(file)
        df_green = pd.read_csv('green_tripdata_2020-01.csv')
        df_green = df.iloc[: , 1:]
        df_green = df_green.astype(green_schema)
        #df_green.head()
        split_file = file.split('.')[0]
        print(split_file)
        df_green.to_parquet('data/clean/{}.parquet'.format(split_file),index=False)
        df_green = pd.read_parquet('data/clean/{}.parquet'.format(split_file))
        print(df_green)
        print("\n")

green_tripdata_2020-11.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-11
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]


green_tripdata_2020-05.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-05
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]


green_tripdata_2020-09.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-09
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]


green_tripdata_2020-10.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-10
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]


green_tripdata_2020-02.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-02
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]


green_tripdata_2020-06.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-06
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]


green_tripdata_2020-07.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-07
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]


green_tripdata_2020-03.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-03
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]


green_tripdata_2020-04.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-04
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]


green_tripdata_2020-08.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-08
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]


green_tripdata_2020-12.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-12
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]


green_tripdata_2020-01.csv

/tmp/ipykernel_16495/4156629896.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2020-01.csv')

green_tripdata_2020-01
        VendorID lpep_pickup_datetime lpep_dropoff_datetime  \
0              2  2019-09-01 00:10:53   2019-09-01 00:23:46
1              2  2019-09-01 00:50:24   2019-09-01 01:03:20
2              2  2019-09-01 00:27:06   2019-09-01 00:33:22
3              2  2019-09-01 00:43:23   2019-09-01 00:59:54
4              2  2019-09-01 00:55:37   2019-09-01 01:17:02
...          ...                  ...                   ...
449057      <NA>  2019-09-30 23:13:00   2019-09-30 23:41:00
449058      <NA>  2019-09-30 23:26:00   2019-09-30 23:46:00
449059      <NA>  2019-09-30 23:15:00   2019-09-30 23:43:00
449060      <NA>  2019-09-30 23:19:00   2019-10-01 00:06:00
449061      <NA>  2019-09-30 23:35:00   2019-09-30 23:58:00

       store_and_fwd_flag  RatecodeID  PULocationID  DOLocationID  \
0                       N           1            65           189
1                       N           1            37            61
2                       N           1           145           112
3                       N           1           112           198
4                       N           1             7            41
...                   ...         ...           ...           ...
449057               <NA>        <NA>            66            71
449058               <NA>        <NA>            55            26
449059               <NA>        <NA>           139            78
449060               <NA>        <NA>           242           188
449061               <NA>        <NA>           155           189

        passenger_count  trip_distance  fare_amount  extra  mta_tax  \
0                     5           2.00        10.50   0.50      0.5
1                     5           2.99        12.00   0.50      0.5
2                     1           1.73         7.50   0.50      0.5
3                     1           3.42        14.00   0.50      0.5
4                     1           6.26        21.00   0.50      0.5
...                 ...            ...          ...    ...      ...
449057             <NA>           7.84        43.25   2.75      0.5
449058             <NA>           3.56        25.75   2.75      0.5
449059             <NA>          18.47        50.47   2.75      0.5
449060             <NA>          20.10        58.22   2.75      0.5
449061             <NA>           5.87        26.07   2.75      0.5

        tip_amount  tolls_amount  ehail_fee  improvement_surcharge  \
0             2.36          0.00        NaN                    0.3
1             0.00          0.00        NaN                    0.3
2             1.50          0.00        NaN                    0.3
3             3.06          0.00        NaN                    0.3
4             0.00          6.12        NaN                    0.3
...            ...           ...        ...                    ...
449057        0.00          0.00        NaN                    0.0
449058        0.00          0.00        NaN                    0.0
449059        0.00          6.12        NaN                    0.0
449060        0.00          6.12        NaN                    0.0
449061        0.00          0.00        NaN                    0.0

        total_amount  payment_type  trip_type  congestion_surcharge
0              14.16             1          1                   0.0
1              13.30             2          1                   0.0
2              10.30             1          1                   0.0
3              18.36             1          1                   0.0
4              28.42             2          1                   0.0
...              ...           ...        ...                   ...
449057         46.50          <NA>       <NA>                   NaN
449058         29.00          <NA>       <NA>                   NaN
449059         59.84          <NA>       <NA>                   NaN
449060         67.59          <NA>       <NA>                   NaN
449061         29.32          <NA>       <NA>                   NaN

[449062 rows x 20 columns]

In [81]:
df_green_2 = pd.read_parquet('data/clean/green_tripdata_2019-11.parquet')
df_green_2.tail()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
449495,<NA>,2019-11-30 23:12:00,2019-11-30 23:22:00,<NA>,<NA>,9,56,<NA>,3.96,25.16,2.75,0.5,0.0,0.0,NaN,0.0,28.41,<NA>,<NA>,NaN
449496,<NA>,2019-11-30 23:34:00,2019-11-30 23:37:00,<NA>,<NA>,10,215,<NA>,0.68,18.38,2.75,0.5,0.0,0.0,NaN,0.0,21.63,<NA>,<NA>,NaN
449497,<NA>,2019-11-30 23:44:00,2019-12-01 00:06:00,<NA>,<NA>,235,246,<NA>,-9.41,39.41,2.75,0.5,0.0,0.0,NaN,0.3,42.96,<NA>,<NA>,NaN
449498,<NA>,2019-11-30 23:40:00,2019-12-01 00:08:00,<NA>,<NA>,119,244,<NA>,8.33,25.75,2.75,0.5,0.0,0.0,NaN,0.0,29.00,<NA>,<NA>,NaN
449499,<NA>,2019-11-30 23:02:00,2019-11-30 23:26:00,<NA>,<NA>,155,188,<NA>,4.28,25.75,2.75,0.5,0.0,0.0,NaN,0.0,29.00,<NA>,<NA>,NaN

In [84]:
df = pd.read_csv('green_tripdata_2019-11.csv.gz').astype(green_schema)
df.tail()

/tmp/ipykernel_16495/441026906.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-11.csv.gz').astype(green_schema)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
449495,<NA>,2019-11-30 23:12:00,2019-11-30 23:22:00,<NA>,<NA>,9,56,<NA>,3.96,25.16,2.75,0.5,0.0,0.0,NaN,0.0,28.41,<NA>,<NA>,NaN
449496,<NA>,2019-11-30 23:34:00,2019-11-30 23:37:00,<NA>,<NA>,10,215,<NA>,0.68,18.38,2.75,0.5,0.0,0.0,NaN,0.0,21.63,<NA>,<NA>,NaN
449497,<NA>,2019-11-30 23:44:00,2019-12-01 00:06:00,<NA>,<NA>,235,246,<NA>,-9.41,39.41,2.75,0.5,0.0,0.0,NaN,0.3,42.96,<NA>,<NA>,NaN
449498,<NA>,2019-11-30 23:40:00,2019-12-01 00:08:00,<NA>,<NA>,119,244,<NA>,8.33,25.75,2.75,0.5,0.0,0.0,NaN,0.0,29.00,<NA>,<NA>,NaN
449499,<NA>,2019-11-30 23:02:00,2019-11-30 23:26:00,<NA>,<NA>,155,188,<NA>,4.28,25.75,2.75,0.5,0.0,0.0,NaN,0.0,29.00,<NA>,<NA>,NaN

In [12]:
'''
YELLOW

bq load --source_format=PARQUET trips_data_all.yellow yellow_tripdata_2020-12.parquet

'''
import pandas as pd
import os

In [18]:
yellow_files = os.listdir()
for file in yellow_files:
    if 'yellow' in file and '.csv.gz' in file and '2020' in file:
        df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)
        split_file = file.split('.')[0]
        print(split_file)
        df_yellow.to_parquet('data/clean/{}.parquet'.format(split_file),index=False)
        df = pd.read_parquet('data/clean/{}.parquet'.format(split_file)).head()
        print(df)
        print("\n\n")

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-03
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2020-03-01 00:31:13   2020-03-01 01:01:42                1
1         2  2020-03-01 00:08:22   2020-03-01 00:08:49                1
2         1  2020-03-01 00:52:18   2020-03-01 00:59:16                1
3         2  2020-03-01 00:47:53   2020-03-01 00:50:57                2
4         1  2020-03-01 00:43:19   2020-03-01 00:58:27                0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           4.70           1                  N            88           255
1           0.00           1                  N           193           193
2           1.10           1                  N           246            90
3           0.87           1                  N           151           238
4           4.40           1                  N            79           261

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         22.0    3.0      0.5        2.00           0.0
1             2          2.5    0.5      0.5        0.00           0.0
2             1          6.0    3.0      0.5        1.95           0.0
3             1          5.0    0.5      0.5        1.76           0.0
4             1         16.5    3.0      0.5        4.05           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         27.80                   2.5
1                    0.3          3.80                   0.0
2                    0.3         11.75                   2.5
3                    0.3         10.56                   2.5
4                    0.3         24.35                   2.5

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-01
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2020-01-01 00:28:15   2020-01-01 00:33:03                1
1         1  2020-01-01 00:35:39   2020-01-01 00:43:04                1
2         1  2020-01-01 00:47:41   2020-01-01 00:53:52                1
3         1  2020-01-01 00:55:23   2020-01-01 01:00:14                1
4         2  2020-01-01 00:01:58   2020-01-01 00:04:16                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            1.2           1                  N           238           239
1            1.2           1                  N           239           238
2            0.6           1                  N           238           238
3            0.8           1                  N           238           151
4            0.0           1                  N           193           193

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1          6.0    3.0      0.5        1.47           0.0
1             1          7.0    3.0      0.5        1.50           0.0
2             1          6.0    3.0      0.5        1.00           0.0
3             1          5.5    0.5      0.5        1.36           0.0
4             2          3.5    0.5      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         11.27                   2.5
1                    0.3         12.30                   2.5
2                    0.3         10.80                   2.5
3                    0.3          8.16                   0.0
4                    0.3          4.80                   0.0

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-11
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2020-11-01 00:37:37   2020-11-01 00:51:45                1
1         1  2020-11-01 00:17:41   2020-11-01 00:32:22                2
2         1  2020-11-01 00:42:29   2020-11-01 01:09:08                2
3         2  2020-11-01 00:28:59   2020-11-02 00:00:00                1
4         2  2020-11-01 00:13:26   2020-11-01 00:22:59                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           1.80           1                  N           246           137
1           2.80           1                  Y           229             4
2           8.10           1                  N           144            83
3           6.38           1                  N           132           205
4           1.96           1                  N           166            42

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         10.0    3.0      0.5         4.1           0.0
1             2         11.5    3.0      0.5         0.0           0.0
2             1         27.0    3.0      0.5         2.0           0.0
3             2         22.0    0.5      0.5         0.0           0.0
4             2          9.0    0.5      0.5         0.0           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3          17.9                   2.5
1                    0.3          15.3                   2.5
2                    0.3          32.8                   2.5
3                    0.3          23.3                   0.0
4                    0.3          10.3                   0.0

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-02
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2020-02-01 00:17:35   2020-02-01 00:30:32                1
1         1  2020-02-01 00:32:47   2020-02-01 01:05:36                1
2         1  2020-02-01 00:31:44   2020-02-01 00:43:28                1
3         2  2020-02-01 00:07:35   2020-02-01 00:31:39                1
4         2  2020-02-01 00:51:43   2020-02-01 01:01:29                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           2.60           1                  N           145             7
1           4.80           1                  N            45            61
2           3.20           1                  N           186           140
3           4.38           1                  N           144           140
4           2.28           1                  N           238           152

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         11.0    0.5      0.5        2.45           0.0
1             1         21.5    3.0      0.5        6.30           0.0
2             1         11.0    3.0      0.5        1.00           0.0
3             1         18.0    0.5      0.5        3.00           0.0
4             2          9.5    0.5      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         14.75                   0.0
1                    0.3         31.60                   2.5
2                    0.3         15.80                   2.5
3                    0.3         24.80                   2.5
4                    0.3         10.80                   0.0

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-05
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2020-05-01 00:02:28   2020-05-01 00:18:07                1
1         1  2020-05-01 00:23:21   2020-05-01 00:26:01                2
2         1  2020-05-01 00:54:58   2020-05-01 00:57:11                1
3         1  2020-05-01 00:07:10   2020-05-01 00:12:46                1
4         1  2020-05-01 00:55:47   2020-05-01 01:01:54                0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            0.0           1                  N           234           256
1            0.4           1                  N           264           264
2            0.3           1                  N           264           264
3            1.7           1                  N           107           229
4            0.9           1                  N           237           262

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         12.2    3.0      0.5         2.4           0.0
1             1          4.0    0.5      0.5         0.5           0.0
2             2          3.5    0.5      0.5         0.0           0.0
3             2          7.0    3.0      0.5         0.0           0.0
4             1          6.0    3.0      0.5         1.2           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3          18.4                   2.5
1                    0.3           5.8                   0.0
2                    0.3           4.8                   0.0
3                    0.3          10.8                   2.5
4                    0.3          11.0                   2.5

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-12
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2020-12-01 00:07:13   2020-12-01 00:18:12                1
1         1  2020-12-01 00:41:19   2020-12-01 00:49:45                1
2         2  2020-12-01 00:33:40   2020-12-01 01:00:35                1
3         2  2020-12-01 00:02:15   2020-12-01 00:13:09                1
4         2  2020-12-01 00:37:42   2020-12-01 00:45:11                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           7.60           1                  N           138           263
1           1.60           1                  N           140           263
2          16.74           2                  N           132           164
3           4.16           1                  N           238            48
4           2.22           1                  N           238            41

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         21.5    3.0      0.5        2.50          6.12
1             1          8.0    3.0      0.5        2.95          0.00
2             1         52.0    0.0      0.5        2.50          6.12
3             1         14.0    0.5      0.5        1.00          0.00
4             2          8.5    0.5      0.5        0.00          0.00

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         33.92                   2.5
1                    0.3         14.75                   2.5
2                    0.3         63.92                   2.5
3                    0.3         18.80                   2.5
4                    0.3          9.80                   0.0

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-10
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2020-10-01 00:09:08   2020-10-01 00:11:05                1
1         1  2020-10-01 00:09:19   2020-10-01 00:19:46                1
2         1  2020-10-01 00:30:00   2020-10-01 00:39:05                1
3         2  2020-10-01 00:56:46   2020-10-01 00:57:10                1
4         2  2020-10-01 00:56:46   2020-10-01 00:57:10                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            0.0           1                  N           145           145
1            2.0           1                  Y           238           143
2            2.1           1                  N           264           230
3            0.0           1                  N           264           152
4            0.0           1                  N           264           152

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          3.0    0.5      0.5        0.00           0.0
1             2          9.5    3.0      0.5        0.00           0.0
2             1          9.0    3.0      0.5        2.56           0.0
3             3         -2.5   -0.5     -0.5        0.00           0.0
4             1          2.5    0.5      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3          4.30                   0.0
1                    0.3         13.30                   2.5
2                    0.3         15.36                   2.5
3                   -0.3         -3.80                   0.0
4                    0.3          3.80                   0.0

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-09
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2020-09-01 00:38:58   2020-09-01 01:08:12                1
1         2  2020-09-01 00:55:26   2020-09-01 01:15:34                1
2         2  2020-09-01 00:00:40   2020-09-01 00:10:25                5
3         2  2020-09-01 00:26:01   2020-09-01 00:35:50                1
4         1  2020-09-01 00:29:09   2020-09-01 01:00:33                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0          10.76           1                  N           132            62
1           6.37           1                  N            48           129
2           2.32           1                  N           102            37
3           1.82           1                  Y           137           246
4           4.90           1                  N            79           170

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         32.5    0.5      0.5        4.40           0.0
1             1         20.5    0.5      0.5        3.00           0.0
2             1          9.5    0.5      0.5        4.00           0.0
3             1          8.5    0.5      0.5        3.08           0.0
4             1         24.0    3.0      0.5        1.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         38.20                   0.0
1                    0.3         27.30                   2.5
2                    0.3         14.80                   0.0
3                    0.3         15.38                   2.5
4                    0.3         28.80                   2.5

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-07
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2020-07-01 00:25:32   2020-07-01 00:33:39                1
1         1  2020-07-01 00:03:19   2020-07-01 00:25:43                1
2         2  2020-07-01 00:15:11   2020-07-01 00:29:24                1
3         2  2020-07-01 00:30:49   2020-07-01 00:38:26                1
4         2  2020-07-01 00:31:26   2020-07-01 00:38:02                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           1.50           1                  N           238            75
1           9.50           1                  N           138           216
2           5.85           1                  N           230            88
3           1.90           1                  N            88           232
4           1.25           1                  N            37            17

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          8.0    0.5      0.5        0.00           0.0
1             1         26.5    0.5      0.5        0.00           0.0
2             2         18.5    0.5      0.5        0.00           0.0
3             1          8.0    0.5      0.5        2.36           0.0
4             2          6.5    0.5      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3          9.30                   0.0
1                    0.3         27.80                   0.0
2                    0.3         22.30                   2.5
3                    0.3         14.16                   2.5
4                    0.3          7.80                   0.0

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-08
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2020-08-01 00:02:53   2020-08-01 00:28:54                1
1         2  2020-08-01 00:08:11   2020-08-01 00:16:28                1
2         2  2020-08-01 00:22:14   2020-08-01 00:22:20                1
3         2  2020-08-01 00:31:35   2020-08-01 00:36:54                1
4         2  2020-08-01 00:39:18   2020-08-01 00:42:09                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0          13.20           1                  N           237            16
1           2.83           1                  N           146           137
2           0.00           1                  N           264           264
3           2.34           1                  N            79           141
4           1.32           1                  N           141           263

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2         36.5    3.0      0.5        0.00           0.0
1             1         10.5    0.5      0.5        1.50           0.0
2             2          2.5    0.5      0.5        0.00           0.0
3             1          8.0    0.5      0.5        2.36           0.0
4             1          5.5    0.5      0.5        1.86           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         40.30                   2.5
1                    0.3         15.80                   2.5
2                    0.3          3.80                   0.0
3                    0.3         14.16                   2.5
4                    0.3         11.16                   2.5

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-06
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2020-06-01 00:31:23   2020-06-01 00:49:58                1
1         1  2020-06-01 00:42:50   2020-06-01 01:04:33                1
2         1  2020-06-01 00:39:51   2020-06-01 00:49:09                1
3         1  2020-06-01 00:56:13   2020-06-01 01:11:38                1
4         1  2020-06-01 00:16:41   2020-06-01 00:29:30                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            3.6           1                  N           140            68
1            5.6           1                  N            79           226
2            2.3           1                  N           238           116
3            5.3           1                  N           141           116
4            4.4           1                  N           186            75

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         15.5    3.0      0.5        4.00           0.0
1             1         19.5    3.0      0.5        2.00           0.0
2             2         10.0    0.5      0.5        0.00           0.0
3             2         17.5    3.0      0.5        0.00           0.0
4             1         14.5    3.0      0.5        3.65           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3         23.30                   2.5
1                    0.3         25.30                   2.5
2                    0.3         11.30                   0.0
3                    0.3         21.30                   2.5
4                    0.3         21.95                   2.5

/tmp/ipykernel_31130/927452959.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_yellow = pd.read_csv(file,index_col=False).astype(yellow_schema)

yellow_tripdata_2020-04
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2020-04-01 00:41:22   2020-04-01 01:01:53                1
1         1  2020-04-01 00:56:00   2020-04-01 01:09:25                1
2         1  2020-04-01 00:00:26   2020-04-01 00:09:25                1
3         1  2020-04-01 00:24:38   2020-04-01 00:34:38                0
4         2  2020-04-01 00:13:24   2020-04-01 00:18:26                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           1.20           1                  N            41            24
1           3.40           1                  N            95           197
2           2.80           1                  N           237           137
3           2.60           1                  N            68           142
4           1.44           1                  Y           263            74

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          5.5    0.5      0.5        0.00           0.0
1             1         12.5    0.5      0.5        2.75           0.0
2             1         10.0    3.0      0.5        1.00           0.0
3             1         10.0    3.0      0.5        1.00           0.0
4             1          6.5    0.5      0.5        3.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge
0                    0.3          6.80                   0.0
1                    0.3         16.55                   0.0
2                    0.3         14.80                   2.5
3                    0.3         14.80                   2.5
4                    0.3         13.30                   2.5

In [85]:
df_yellow = pd.read_csv('yellow_tripdata_2019-01.csv').astype(yellow_schema)
df_yellow.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [76]:
yellow_files = os.listdir()
for file in yellow_files:
    if 'yellow' in file and '.csv.gz' in file and '2019' in file:
        df_green = pd.read_csv(file,index_col=False).astype(green_schema)
        split_file = file.split('.')[0]
        print(split_file)
        df_green = pd.to_parquet('data/clean/{}.parquet'.format(split_file),index=False)
        print(df_green.head())
        print("\n\n")

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

NameError: name 'pd' is not defined

In [9]:
import os
import yaml
import pandas as pd
files = os.listdir()
with open('schemas.yml', 'r') as file:
    prime_service = yaml.safe_load(file)
    
yellow_schema = prime_service['yellow']
green_schema = prime_service['green']
fhv_schema = prime_service['fhv']

In [47]:
print(fhv_schema)

{'dispatching_base_num': 'string', 'pickup_datetime': 'datetime64[ns]', 'dropOff_datetime': 'datetime64[ns]', 'PUlocationID': 'Int64', 'DOlocationID': 'Int64', 'SR_Flag': 'Int64', 'Affiliated_base_number': 'str'}

In [3]:
df_fhv = pd.read_csv('fhv_tripdata_2019-01.csv.gz',index_col=False).astype(fhv_schema)
df_fhv.head()

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [5]:

for file in files:
    if 'fhv' in file and '.csv.gz' in file and '2020' in file:
        df_fhv = pd.read_csv(file,index_col=False).astype(fhv_schema)
        split_file = file.split('.')[0]
        print(split_file)
        df_fhv.to_parquet('data/clean/{}.parquet'.format(split_file),index=False)
        print(df_fhv.head())
        print("\n\n")

KeyError: "Only a column name can be used for the key in a dtype mappings argument. 'dropOff_datetime' not found in columns."

In [10]:
df_fhv = pd.read_csv('fhv_tripdata_2020-01.csv.gz',index_col=False)

In [6]:
df_fhv = df_fhv.rename('dropoff_datetime','dropOff_datetime')
df_fhv.head()

TypeError: rename() takes from 1 to 2 positional arguments but 3 were given

In [2]:
df_fhv_2019 = pd.read_csv('fhv_tripdata_2019-01.csv.gz',index_col=False)

In [3]:
df_fhv_2019.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008

In [34]:
#url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2020-02.csv.gz'
#df_fhv_bad = pd.read_csv(url,index_col=False)
#df_fhv_bad.head()

url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2020-02.parquet'
df = pd.read_parquet(url)
file = 'fhv_tripdata_2020-02.csv.gz'
df.to_csv(file,compression='gzip',index=False)

df = pd.read_csv(file)
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00013,2020-02-01 00:48:10,2020-02-01 01:34:36,264.0,264.0,NaN,B00013
1,B00013,2020-02-01 00:35:50,2020-02-01 01:18:05,264.0,264.0,NaN,B00013
2,B00014,2020-02-01 00:57:13,2020-02-01 01:10:06,264.0,264.0,NaN,B00014
3,B00014,2020-02-01 00:19:21,2020-02-01 01:04:40,264.0,264.0,NaN,B00014
4,B00014,2020-02-01 00:44:34,2020-02-01 00:57:04,264.0,264.0,NaN,B00014

In [36]:
df.rename(columns={ df_fhv.columns[2]: "dropOff_datetime" }, inplace = True)
df_fhv.to_csv(file,compression='gzip',index=False)

In [24]:
'''
Renombrar la columna dropoff como est en el schema en fhv_tripdata_2020
Continuar cargando el ao 2020
'''
print('Renames')
for file in files:
    if 'fhv' in file and '.csv.gz' in file and '2020' in file and 'fhv_tripdata_2020-02' not in file:
        print(file)
        df_fhv = pd.read_csv(file,index_col=False)
        df_fhv.rename(columns={ df_fhv.columns[2]: "dropOff_datetime" }, inplace = True)
        df_fhv.to_csv(file,compression='gzip',index=False)

Renames
fhv_tripdata_2020-01.csv.gz
fhv_tripdata_2020-08.csv.gz
fhv_tripdata_2020-03.csv.gz
fhv_tripdata_2020-06.csv.gz
fhv_tripdata_2020-11.csv.gz
fhv_tripdata_2020-10.csv.gz
fhv_tripdata_2020-09.csv.gz
fhv_tripdata_2020-05.csv.gz
fhv_tripdata_2020-12.csv.gz
fhv_tripdata_2020-04.csv.gz
fhv_tripdata_2020-07.csv.gz
to parquet

KeyError: "Only a column name can be used for the key in a dtype mappings argument. 'PUlocationID' not found in columns."

In [49]:
print('to parquet')
for file in files:
    if 'fhv' in file and '.csv.gz' in file and '2020' in file:
        print(file)
        df_fhv = pd.read_csv(file,index_col=False)
        
        df_fhv.rename(columns={ df_fhv.columns[0]: "dispatching_base_num" }, inplace = True)
        df_fhv.rename(columns={ df_fhv.columns[1]: "pickup_datetime" }, inplace = True)
        df_fhv.rename(columns={ df_fhv.columns[2]: "dropOff_datetime" }, inplace = True)
        df_fhv.rename(columns={ df_fhv.columns[3]: "PUlocationID" }, inplace = True)
        df_fhv.rename(columns={ df_fhv.columns[4]: "DOlocationID" }, inplace = True)
        df_fhv.rename(columns={ df_fhv.columns[5]: "SR_Flag" }, inplace = True)
        df_fhv.rename(columns={ df_fhv.columns[6]: "Affiliated_base_number" }, inplace = True)
        
     
        
        df_fhv = pd.read_csv(file,index_col=False).astype(fhv_schema)
        split_file = file.split('.')[0]
   
        df_fhv.to_parquet('data/clean/{}.parquet'.format(split_file),index=False)
        print(df_fhv.head())
        print("\n\n")

to parquet
fhv_tripdata_2020-01.csv.gz

KeyError: "Only a column name can be used for the key in a dtype mappings argument. 'PUlocationID' not found in columns."

In [67]:
file = 'fhv_tripdata_2020-01.csv.gz'
df_fhv_2019 = pd.read_csv(file)
df_fhv_2019.head()
df_fhv_2019.rename(columns={ df_fhv_2019.columns[0]: "dispatching_base_num" }, inplace = True)
df_fhv_2019.rename(columns={ df_fhv_2019.columns[1]: "pickup_datetime" }, inplace = True)
df_fhv_2019.rename(columns={ df_fhv_2019.columns[2]: "dropOff_datetime" }, inplace = True)
df_fhv_2019.rename(columns={ df_fhv_2019.columns[3]: "PUlocationID" }, inplace = True)
print(df_fhv_2019.columns[3])
df_fhv_2019.rename(columns={ df_fhv_2019.columns[4]: "DOlocationID" }, inplace = True)
df_fhv_2019.rename(columns={ df_fhv_2019.columns[5]: "SR_Flag" }, inplace = True)
df_fhv_2019.rename(columns={ df_fhv_2019.columns[6]: "Affiliated_base_number" }, inplace = True)
print(df_fhv_2019.columns[6])
print(df_fhv_2019.head())
print(df_fhv_2019.columns)
print(fhv_schema.keys())

df_fhv = pd.read_csv(file,index_col=False).astype(fhv_schema)
df_fhv.head()

'''
for key in fhv_schema.keys():
    
    df_fhv = pd.read_csv(file,index_col=False).astype(fhv_schema)
    split_file = file.split('.')[0]

    df_fhv.to_parquet('data/clean/{}.parquet'.format(split_file),index=False)
    df_fhv.head()
'''

PUlocationID
Affiliated_base_number
  dispatching_base_num      pickup_datetime     dropOff_datetime  \
0               B00001  2020-01-01 00:30:00  2020-01-01 01:44:00
1               B00001  2020-01-01 00:30:00  2020-01-01 00:47:00
2               B00009  2020-01-01 00:48:00  2020-01-01 01:19:00
3               B00009  2020-01-01 00:34:00  2020-01-01 00:43:00
4               B00009  2020-01-01 00:23:00  2020-01-01 00:32:00

   PUlocationID  DOlocationID  SR_Flag Affiliated_base_number
0         264.0         264.0      NaN                 B00001
1         264.0         264.0      NaN                 B00001
2         264.0         264.0      NaN                 B00009
3         264.0         264.0      NaN                 B00009
4         264.0         264.0      NaN                 B00009
Index(['dispatching_base_num', 'pickup_datetime', 'dropOff_datetime',
       'PUlocationID', 'DOlocationID', 'SR_Flag', 'Affiliated_base_number'],
      dtype='object')
dict_keys(['dispatching_base_num', 'pickup_datetime', 'dropOff_datetime', 'PUlocationID', 'DOlocationID', 'SR_Flag', 'Affiliated_base_number'])

KeyError: "Only a column name can be used for the key in a dtype mappings argument. 'PUlocationID' not found in columns."

In [14]:
df_fhv_2019.rename(columns={ df_fhv_2019.columns[2]: "DROPOFF" }, inplace = True)

In [15]:
.head()

,dispatching_base_num,pickup_datetime,DROPOFF,DROPOFF,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008

In [44]:
print(df_fhv_2019.columns[1])

dispatching_base_num

In [68]:
df = pd.read_parquet('fhv_tripdata_2020-02.parquet')
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00013,2020-02-01 00:48:10,2020-02-01 01:34:36,264.0,264.0,None,B00013
1,B00013,2020-02-01 00:35:50,2020-02-01 01:18:05,264.0,264.0,None,B00013
2,B00014,2020-02-01 00:57:13,2020-02-01 01:10:06,264.0,264.0,None,B00014
3,B00014,2020-02-01 00:19:21,2020-02-01 01:04:40,264.0,264.0,None,B00014
4,B00014,2020-02-01 00:44:34,2020-02-01 00:57:04,264.0,264.0,None,B00014

In [1]:
import pandas as pd
df = pd.read_parquet('data/clean/fhv_tripdata_2019-01.parquet')

In [2]:
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,<NA>,<NA>,<NA>,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,<NA>,<NA>,<NA>,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,<NA>,<NA>,<NA>,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,<NA>,<NA>,<NA>,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,<NA>,<NA>,<NA>,B00008

In [5]:
import wget

In [8]:
urls = 'https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2020-01.parquet'
lista = ["01","02","03","04","05","06","07","08","09","10","11","12"]

for month in lista:
    wget.download('https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2020-{}.parquet'.format(month))

100% [........................................................................] 12027645 / 12027645